<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507776909463-1uu7ti77696b3l97g1ll1fbd03fpkh7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507776909463-1uu7ti77696b3l97g1ll1fbd03fpkh7d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>507776909463-0bo84ifocvhho5v2dvig3gvb3094im8t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3pXScfHcOdDhyxo8bqt_3SPJqoCgleDA</string>
	<key>GCM_SENDER_ID</key>
	<string>507776909463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.vauice</string>
	<key>PROJECT_ID</key>
	<string>vauice-v1</string>
	<key>STORAGE_BUCKET</key>
	<string>vauice-v1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507776909463:ios:30e344a0cd9386785229d2</string>
	<key>DATABASE_URL</key>
	<string>https://vauice-v1-default-rtdb.firebaseio.com</string>
</dict>
</plist>